<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="components/header"></div>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Klientai</div>
                <div class="card-body">
                  <form method="post" th:action="'/clients/update/'+${client.id}">
                      <div class="mb-3">
                          <label class="form-label">Vardas</label>
                          <input type="text" class="form-control" name="name" th:value="${client.name}">
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Pavardė</label>
                          <input type="text" class="form-control" name="surname" th:value="${client.surname}">
                      </div>
                      <div class="mb-3">
                          <label class="form-label">El. paštas</label>
                          <input type="text" class="form-control" name="email" th:value="${client.email}">
                      </div>
                      <div class="mb-3">
                          <label class="form-label">Tel. Numeris</label>
                          <input type="text" class="form-control" name="phone" th:value="${client.phone}">
                      </div>
                      <button class="btn btn-success">Išsaugoti</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="components/footer"></div>
</body>
</html>