<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="components/header"></div>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <a href="/clients/create" class="btn btn-primary mb-3">Pridėti naują klientą</a>
            <div class="card">
                <div class="card-header">Klientai</div>
                <div class="card-body overflow-auto">

                    <table class="table w-100">
                        <thead>
                        <tr>
                            <th class="text-nowrap">Vardas</th>
                            <th class="text-nowrap">Pavardė</th>
                            <th class="text-nowrap">El. paštas</th>
                            <th class="text-nowrap">Tel. Numeris</th>
                            <th class="text-nowrap"></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="client: ${clients}">
                                <td th:text="${client.name}"></td>
                                <td th:text="${client.surname}"></td>
                                <td th:text="${client.email}"></td>
                                <td th:text="${client.phone}"></td>
                                <td class="text-nowrap" style="width: 200px;">
                                    <a th:href="'/clients/update/'+${client.id}" class="btn btn-success">Redaguoti</a>
                                    <a th:href="'/clients/delete/'+${client.id}" class="btn btn-danger">Ištrinti</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="components/footer"></div>
</body>
</html>