<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="components/header"></div>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <a href="/workouts/create" class="btn btn-primary mb-3">Pridėti naują treniruotę</a>
            <div class="card">
                <div class="card-header">Treniruotės</div>
                <div class="card-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Pavadinimas</th>
                            <th>Data</th>
                            <th>Vietos</th>
                            <th>Lokacija</th>
                            <th>Klientai</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="workout: ${workouts}">
                            <td th:text="${workout.name}"></td>
                            <td th:text="${workout.date}"></td>
                            <td th:text="${workout.places}"></td>
                            <td th:text="${workout.location}"></td>
                            <td style="width: 200px;">
                                <a th:href="'/workouts/update/'+${workout.id}" class="btn btn-success">Redaguoti</a>
                                <a th:href="'/workouts/delete/'+${workout.id}" class="btn btn-danger">Ištrinti</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="components/footer"></div>
</body>
</html>