<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="components/header"></div>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Suplanuoti naują treniruotę</div>
                <div class="card-body">
                    <form method="post" action="/workouts/create" th:object="${workout}">
                        <div class="mb-3">
                            <label class="form-label">Pavadinimas</label>
                            <input type="text" class="form-control" name="name">
                            <ul th:if="${#fields.hasErrors('name')}" class="mt-1 ps-3">
                                <li th:each="error: ${#fields.errors('name')}" th:text="${error}" class="text-danger"/>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Data</label>
                            <input type="date" class="form-control" name="date">
                            <ul th:if="${#fields.hasErrors('date')}" class="mt-1 ps-3">
                                <li th:each="error: ${#fields.errors('date')}" th:text="${error}" class="text-danger"/>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Vietos</label>
                            <input type="number" class="form-control" name="places">
                            <ul th:if="${#fields.hasErrors('places')}" class="mt-1 ps-3">
                                <li th:each="error: ${#fields.errors('places')}" th:text="${error}" class="text-danger"/>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Lokacija</label>
                            <input type="text" class="form-control" name="location">
                            <ul th:if="${#fields.hasErrors('location')}" class="mt-1 ps-3">
                                <li th:each="error: ${#fields.errors('location')}" th:text="${error}" class="text-danger"/>
                            </ul>
                        </div>

                        <button class="btn btn-success">Pridėti</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="components/footer"></div>
</body>
</html>